{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{{ form_start(form) }}
    {{ form_row(form.searchCriteria, {
        label: 'Mot-Clé'
    }) }}
    <button type="submit" class="btn btn-primary">Faire la recherche</button>
{{ form_end(form) }}
<br>

<div class="row row-cols-md-4">
    {% for unHackathon in lesHackathonsAfficher %}
    <div class="cols mb-4">
        <div class="card">
            <div class="card-body">
            <a href="{{path('app_unHackathon',{id:unHackathon.id})}}"><img src="{{asset('images/robot.webp')}}" class="card-img-top" alt="details {{unHackathon.nom}}"/></a>
                <p>{{unHackathon.nom}}</p>
                <p>{{unHackathon.ville}}</p>
                <p>{{unHackathon.nb_places}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
